.tscache
built/

.env
reports/
node_modules/
package-lock.json
package-logs.json
testresults/
stats/
docs/*
.vagrant/
coverage/

*.tar.gz
*.tgz
*.swp
*.log
*.zat

checkstyle-result.xml
coverage.*
junit.xml
shippable/

kubernetes
Dockerfile
Dockerfile.worker
docker-compose.yml
.dockerignore
.editorconfig
.git
.git-crypt
.gitignore
.idea
samples/

helmfile
smoke/
sniff/
sniff-namespace.sh
README.md
built/
images/
.vscode
.tscache
.github
