tscommand-*
.DS_Store
.tscache
built

reports/
node_modules/
testresults/
stats/
docs/*
.vagrant/
coverage/
package-logs.json
package-lock.json

*.tar.gz
*.tgz
*.swp
*.log
*.zat

checkstyle-result.xml
coverage.*
junit.xml
scanLogs

sniff/
